.scoreboard {
    background-color:rgb(12, 12, 136);
    color:aliceblue;
    width: 520px;
    height: 60px;
}

.gamearea {
    background-color:rgb(78, 172, 255);
    width: 520px;
    height: 400px;
    position: absolute;
}

.block {
    background-color:rgb(190, 11, 214);
    width: 70px;
    height: 20px;
    position: absolute;
}

.ball {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 5px;
}

.paddle {
    background-color: black;
    width: 100px;
    height: 20px;
    position: absolute;
}