.scoreboard {
    background-color:rgb(12, 12, 136);
    color:aliceblue;
    width: 500px;
    height: 60px;
}

.gamearea {
    background-color:rgb(78, 172, 255);
    width: 500px;
    height: 400px;
    position: absolute;
}

.block {
    background-color:rgb(190, 11, 214);
    width: 70px;
    height: 20px;
    border-style: groove;
    border-radius: 20px;
    border-color: rgb(227, 42, 252);
    position: absolute;
}

.ball {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: absolute;
}

.paddle {
    background-color: rgb(236, 236, 236);
    width: 100px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
}