.title {
    color: #ffffff;
    background-color: #cc0066;
    text-align: center;
    font-size: 130%;
    width: 500px;
    height: 35px;
    display: block;
    padding-top: 10px;
    border-style: solid;
    border-color:#cc0066;
}

.scoreboard {
    background-color:rgb(0, 0, 0);
    color:rgb(0, 153, 255);
    width: 500px;
    height: 20px;
    font-size: 130%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
    border-style: solid;
    border-color:#cc0066;
    display: block;
}
.lives {
    float: right;
    color:aliceblue;
    
}
.gamearea {
    background-color:rgb(0, 0, 0);
    width: 500px;
    height: 400px;
    position: absolute;
    display: block;
    border-style: solid;
    border-color:#cc0066;
}
.menu {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 119, 255);
    height: 30px;
    width: 500px;
    display: block;
    padding-top:400px;
    text-align:center;
    border-style: solid;
    border-color:#cc0066;
}
.block {
    background-color:#000000;
    width: 50px;
    height: 20px;
    border: 2px;
    border-style: inset;
    border-color:rgb(0, 131, 253);
    position: absolute;
}

.ball {
    background-color: rgb(0, 0, 0);
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color:rgb(255, 0, 149);
    position: absolute;
}

.paddle {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 20px;
    border-radius: 6px;
    position: absolute;
}

/*buttons*/
button {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 119, 255);
    border: 2px;
    border-style: solid;
    border-color:#cc0066;
    width: 253px;
}
